#h1font {
font-family: Helvetica;
font-size: 70px;
font-weight: bold;
text-align: center;
color: white;
}

.content {
  background-image: url(../images/Background_Image-the-flatiron-building.png);
  height: 250px;
  font-family: Helvetica;
  font-size: 18px;
  text-align: center;
  color: white;
  background-position: center;
}

#home {
  font-family: Helvetica;
  font-size: 18px;
  text-align: center;
  color: white;
}

#process {
  font-family: Helvetica;
  font-size: 18px;
  text-align: center;
  color: white;
}

#work {
  font-family: Helvetica;
  font-size: 18px;
  text-align: center;
  color: white;
}

#team {
  font-family: Helvetica;
  font-size: 18px;
  text-align: center;
  color: white;
}

#contact {
  font-family: Helvetica;
  font-size: 18px;
  text-align: center;
  color: white;
}

#process {
  font-family: Helvetica;
  font-size: 32px;
  text-align: center;
  color: black;
  font-weight: bold;
}

.processcat {
  font-family: Helvetica;
  font-size: 18px;
  text-align: center;
  color: white;
}

#processheading {
  font-family: Helvetica;
  font-size: 23px;
  text-align: center;
  color: black;
  font-weight: bold;
}

#processparagraph {
  font-family: Helvetica;
  font-size: 14px;
  text-align: center;
  color: black;
}

.cont_det {
  font-family: Helvetica;
  font-size: 14px;
  text-align: center;
  color: black;
}

#broadwaytradem {
  font-family: Helvetica;
  font-size: 14px;
  color: white;
}
#footerlinks {
  font-family: Helvetica;
  font-size: 18px;
  color: black;
}
.docfooter {
  background-color: dimgrey;
}
#ny_heading {
  font-family: Helvetica;
  font-size: 23px;
  text-align: center;
  color: white;
  font-weight: bold;
  background-image: url(../images/Background_Image-the-flatiron-building.png);
  height: 50px;
  background-position: center;
}

.identify_image {

  }
